<!DOCTYPE html>
<html>
<style>
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:#53F52D;
}

/* IE 6 */
* html .footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
</style>
  <head>
    <title>Node.js app boilerplate</title>
  </head>
  <body>
    {{{body}}}
  <script src="js/main.js"></script>
  <div class="footer">
    <p><center>&copy; 2016</center></p>
    <p><center>&copy; 2017</center></p>
  </div>
  </body>
</html>
